<a href="https://colab.research.google.com/github/ambreen112/basics_python/blob/main/python_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = 12
type(x)

int

In [2]:
x = 12
print(x)
print(type(x))

12
<class 'int'>

In [3]:
x= 12 * 3
print(x)
print(type(x))

36
<class 'int'>

In [4]:
x = 3.14
print(type(x))

<class 'float'>

In [8]:
x = "simple"
x ='simple'
print(type(x))
print(x)

<class 'str'>
simple

In [7]:
x = ""
print(type(x))
print(x)

<class 'str'>

LIST

In [9]:
x = [2, 4, 5, 6]
print(type(x))
print(x)

<class 'list'>
[2, 4, 5, 6]

In [10]:
x = [2, 4, 5, 6]
print(x[2])

5

In [11]:
x = [2, 4, 5, 6]
x [2] = 45
print(x)

[2, 4, 45, 6]

Tuple

In [12]:
x = (2, 4, 5)
print(type(x))

<class 'tuple'>

In [13]:
print(x[1])

4

In [14]:
x[1] = 55

TypeError: 'tuple' object does not support item assignment

In [20]:
x = open('python_variable.ipynb','r')
type(x)

FileNotFoundError: [Errno 2] No such file or directory: 'python_variable.ipynb'

In [21]:
(x, y, z) = 2,7,9
print(x, y, z)

2 7 9

In [22]:
(x, y) = 2, 7, 9

ValueError: too many values to unpack (expected 2)

In [25]:
(x, y, z)= 1, 1, 1
print(x, y, z)

1 1 1

In [26]:
x=y=z = 1
print(x, y, z)

1 1 1

Rules Of Variable

variable name should be start from _ , not number not @

In [27]:
abc =12
_abc = 12
print(abc)
print(_abc)

12
12

In [29]:
3a = 2
@abc =3
print(3a)
print(@3)

SyntaxError: invalid decimal literal (ipython-input-29-1622574820.py, line 1)

The first character must be followed by number, _ , or alphabet

In [30]:
a100 = 3
_abc = 3

In [31]:
a99$ = 3

SyntaxError: invalid syntax (ipython-input-31-1710688950.py, line 1)

In [32]:
_abc-3 = 34

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (ipython-input-32-1869168224.py, line 1)

varaible name are case sensitive mean A100 and a100 are two different variable

In [33]:
a100 =3
print(a100)
A100 = 2
print(A100)

3
2

reserved word can not be variable mean try, break, class

In [34]:
break = 8

SyntaxError: invalid syntax (ipython-input-34-4018023568.py, line 1)

Airthmatic operation

In [35]:

print(x+y)
print(x -y)
print(x*y)
print(x/y)
print(x//y)#this terminate value after point
print(x%y)
print(x**y)

5
-1
6
0.6666666666666666
0
2
8

string operation

In [36]:
var = "simplilearn"
print(var[2])

m

In [37]:
print(var[0:3])

sim

In [44]:
print(var[:0])
print(var[:2])
print(var[2:])
print(var[0:15])
print(var[-2])
print(var[-5])

si
mplilearn
simplilearn
r
l